/* --------------------------------------------------------------------------------------------- */
/*                                      Fonts                                                    */
/* --------------------------------------------------------------------------------------------- */
/*  Source: Apache License Version 2.0 (see ../fonts/[FONT]/LICENSE.txt)                         */
/* --------------------------------------------------------------------------------------------- */
@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/Open-Sans-300/Open-Sans-300.eot');
	src: url('../fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
		local('Open Sans Light'),
		local('Open-Sans-300'),
		local('Open Sans'),
		local('OpenSans'),
		url('../fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
		url('../fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
		url('../fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
		url('../fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot');
	src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
		local('Open Sans'),
		local('Open-Sans-regular'),
		local('Open Sans'),
		local('OpenSans'),
		url('../fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
		url('../fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
		url('../fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
		url('../fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/Open-Sans-600/Open-Sans-600.eot');
	src: url('../fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
		local('Open Sans Semibold'),
		local('Open-Sans-600'),
		local('Open Sans'),
		local('OpenSans'),
		url('../fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
		url('../fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
		url('../fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
		url('../fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

/* --------------------------------------------------------------------------------------------- */
/*                                      CSS reset                                                */
/* --------------------------------------------------------------------------------------------- */
/*  Source: http://meyerweb.com/eric/tools/css/reset/                                            */
/*  v2.0 | 20110126                                                                              */
/*  License: none (public domain)                                                                */
/* --------------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------------------------------------------------------------------- */
/*                                      General style                                            */
/* --------------------------------------------------------------------------------------------- */
html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 23px;
	background: #FFFFFF;
	color: #494949;
	width:100%;
}

body>header {
	width: 100%;
	padding: 15px 0 15px 0;
	max-width: 978px;
	margin-left: auto;
	margin-right: auto;
}

body>header .logo h1 {
	font-size: 18px;
	font-weight: 300;
}

body>header .logo h2 {
	font-weight: 300;
}
